@{
    ViewData["Title"] = "Recipe Index";
}

<form action="/recipes/delete" method="POST">
        <button type="submit">Delete All Recipes</button>
    </form>
<ul>
    
@foreach (var recipe in Model)

{
    <li><a href="/recipes/@recipe.Id/details">@recipe.Name</a></li>
}

</ul>