@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <h1> FOOD! </h1>
</div>

<div class="recipe-box">

    <div class="content">
    <h2>Recipes</h2>
    </div>
    <div class="content">
    <h2><a href="/recipes/index">See Recipes</a></h2>
    </div>
    <div class="content">
    <h2><a href="/recipes/new">Write a New Recipe</a></h2>
    </div>
</div>

<div class="tag-box">
    <div>
    <h2>Tags</h2>
    <br>
         <a href="/tags/index">#See Tags</a>
    </div>
</div>

